@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat+Alternates:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

.App{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}
::placeholder{
  color: rgb(221, 220, 220)!important;
}
/* input{
  outline: none!important;
} */